@using MoiteRecepti.Common
@model MoiteRecepti.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to What2Eat!</h1>
    
    <div class="col-md-4 offset-md-4">
    <ul class="list-group">
            <p>We have</p>
            <li class="list-group-item bg-accent">Recipes: @Model.RecipesCount</li>
            <li class="list-group-item bg-accent">Categories: @Model.CategoriesCount</li>
            <li class="list-group-item bg-accent">Images: @Model.ImagesCount</li>
            <li class="list-group-item bg-accent">Ingredients: @Model.IngredientsCount</li>
    </ul>
    </div>
</div>
